body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
    display: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 15px;
    background: #E50914;
    border-radius: 5px;
}

.search-bar {
    width: 40%;
    padding: 8px;
    font-size: 18px;
    border: 2px solid #E50914;
    border-radius: 5px;
}
.logo{
    color: #E50914;
}

.login-btn {
    background: #E50914;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    
}
.container {
    display: flex;
    margin: 20px;
}

.left-section {
    width: 30%;
}

.right-section {
    width: 70%;
    padding: 15px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box {
    background: white;
    padding: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #E50914;

}



.date-links a, .club-links a {
    display: block;
    background-color: #E50914;
    padding: 10px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;

}


.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.event-box {
    background: white;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px;
    font-size: 18px;
    border-radius: 10px;

}

